.idea/
lab6/Catch The Ball/__pycache__/Catch_The_Ball.cpython-38.pyc
lab6/Catch The Ball/__pycache__/game.cpython-38.pyc
lab6/Catch The Ball/__pycache__/records.cpython-38.pyc
lab6/Catch The Ball/__pycache__/saving.cpython-38.pyc
lab6/Catch The Ball/__pycache__/scores.cpython-38.pyc
lab7/Catch The Ball/__pycache__/Catch_The_Ball.cpython-38.pyc
lab7/Catch The Ball/__pycache__/game.cpython-38.pyc
lab7/Catch The Ball/__pycache__/records.cpython-38.pyc
lab7/Catch The Ball/__pycache__/saving.cpython-38.pyc
lab7/Catch The Ball/__pycache__/scores.cpython-38.pyc
lab7/Catch The Ball/data.txt
lab7/Catch The Ball/reserve.txt

